@{
    ViewBag.Title = "Unit Tests";
}
@section css{
    <link href="~/Content/qunit.css" rel="stylesheet">
}

@section Scripts {
    @Scripts.Render("~/bundles/Linq4JavscriptMainUnitTests")
}

<div id="qunit"></div>
<div id="qunit-fixture"></div>